/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.07.2017, 18:06:12
    Author     : User
*/
.container-fluid {
    max-width: 1600px;
    padding: 0;
}
.navbar {
    background-color:  #ffffff;
    border: none;
    margin: 28px;
    padding: 0 200px;
}
.navbar-header .navbar-brand , .navbar-header .navbar-brand:hover, .navbar-header .navbar-brand:active {
    font-family: PTSans;
color:  #ec4848;
font-size: 33.37px; /* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: right;
transform: scaleY(1.0188); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}
 .navbar-default .navbar-nav>.active li> a:focus, .navbar-default .navbar-nav>.active li>a{
    color:  #ec4848;
    background: none;
}
.glyphicon-search {
    color:  #3f444a;
    font-size: 30px;
    padding: 9px;
 
}
.carousel-caption {
    bottom: 30%;
    
}
.carousel-caption h1{
    
    font-family: OpenSans;
color: #ffffff;
font-size: 90px; /* Приближение из-за подстановки шрифтов */
font-weight: 700;
margin-bottom: 30px;
}
.carousel-caption p {

color: #ffffff;
font-size: 14px; /* Приближение из-за подстановки шрифтов */
font-weight: 600;
margin-bottom: 85px;

}
.btn-more {
    
    border: none;
    border-radius: 0;
    font-family: RobotoCondensed;
color: #fff;
font-size: 16px; /* Приближение из-за подстановки шрифтов */
font-weight: 700;


background-color: #ec4848;
width: 147px;
height: 50px;
}
.about {
    margin-bottom: 80px;
    padding: 0 247px;
    border: 1px solid #ebebeb; 
    max-width: 1600px;
}
.about h1 {
    margin-top: 100px;
    margin-bottom: 60px;
 font-family: RobotoCondensed;
color: #3f444a;
font-size: 40px; /* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: center;
}
.about p {
    margin: 0 auto 65px;
    width: 800px;
 font-family: RobotoCondensed;
color: #5c6873;
font-size: 18px; /* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 30px; /* Приближение из-за подстановки шрифтов */
text-align: center;
}

.panel-heading {
    padding: 0;
    width: 538px;
}
.panel-title {
    
    padding: 0;
    border-style: solid;
border-width: 1px;
border-color: rgba(138, 138, 138, 50);
background-color: #3f444a;
/*width: 578px;*/
height: 57px;
font-family: OpenSans;
color: #ffffff;
font-size: 16px; /* Приближение из-за подстановки шрифтов */
font-weight: 600;
/*line-height: 44px;  Приближение из-за подстановки шрифтов */
text-align: center;
text-decoration: none;
}
.panel-group {
    margin-bottom: 10px;
}px
.panel-title {
    padding : 18px;
font-family: RobotoCondensed;
color: #fff;
font-size: 16px; /* Приближение из-за подстановки шрифтов */
font-weight: 400;
/*line-height: 129.167px;  Приближение из-за подстановки шрифтов */
   text-align: left;
}
.panel-body {
    width: 538px;
    padding: 34px;
    font-family: RobotoCondensed;
color: #323232;
font-size: 14px; /* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 20px; /* Приближение из-за подстановки шрифтов */
text-align: left;
}

.progress {
    margin-bottom: 30px; 
    border-style: solid;
border-width: 1px;
border-color:  rgba(138, 138, 138, 34);
    background-color: #f2f2f2; ;
width: 538px;
height: 31px;
}
.progress:last-child {
    margin-bottom: 0;
}
.progress-bar > p {
     margin-left: 18px;
    
}

.servises{
    padding: 0 247px;
    border: 1px solid #ebebeb;
    text-align: center;
}
.servises h1 {
    margin-top: 50px;
    margin-bottom: 59px;
    font-family: RobotoCondensed;
color: #3f444a;
font-size: 40px; /* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: center;
text-transform: uppercase;
}
.widget {
    margin-bottom: 51px;
    padding-bottom: 45px;
 border-radius: 10px;
border-style: solid;
border-width: 1px;
border-color: #dbdbdb;
background-color: #ffffff;
width: 330px;
height: 460px;

}
.widget_1 {
border-radius: 10px;
background-color: #3f444a;
width: 330px;
height: 460px;
}
.widget_1 img {
        width: 88px;
height: 88px;
margin: 33px 121px;

}
.widget_1 h3 {
 font-family: RobotoCondensed;
color: #ffffff;
font-size: 22px; /* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: center;
    
}
.widget_1 p {
    margin: 15px 44px 45px 26px;
font-family: RobotoCondensed;
color: #ffffff;
font-size: 18px; /* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 23px; /* Приближение из-за подстановки шрифтов */
text-align: left;}
.widget img {
    width: 88px;
height: 88px;
margin: 33px 121px;
}
.widget h3 {
font-family: RobotoCondensed;
color: #3f444a;
font-size: 22px; /* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: center;
}
.widget p {
        margin: 15px 44px 40px 26px;
    font-family: RobotoCondensed;
color: #5c6873;
font-size: 18px; /* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 23px; /* Приближение из-за подстановки шрифтов */
text-align: left;
}
